@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Medium.ttf") format("truetype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "WorkSans";
    src: url("fonts/WorkSans-Bold") format("truetype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "ZillaSlab";
    src: url("fonts/ZillaSlab-Bold.ttf") format("truetype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "ZillaSlab";
    src: url("fonts/ZillaSlab-Italic.ttf") format("truetype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "ZillaSlab";
    src: url("fonts/ZillaSlab-Medium.ttf") format("truetype");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "MinionPro";
    src: url("fonts/MinionPro-It.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}
