/**
 * Main Styles for site.
 */

// sass main.scss ../style.min.css --style=compressed
// sass --watch main.scss:../style.min.css --style=compressed

$theme-dark-orange : #6e4830;
$theme-orange: #c96e36;
$theme-dark-gray: #2d2825;
$theme-gray: #cccccc;

// @import "normalize";
@import "fonts";
@import "skeleton";
@import "header";
@import "footer";
@import "woocommerce";
