html {
    scroll-behavior: smooth;
}

body {
    #page {
        #content {
            #primary {
                #main {
                    .woocommerce .woocommerce-cart-form {
                        .product-remove,
                        .product-thumbnail {
                            display: none;
                        }
                    }

                    #post-2445 * {
                        font-family: "ZillaSlab";
                    }
                }
            }
        }
    }

    &.woocommerce-page * {
        font-family: "ZillaSlab";
    }

    &.page-id-2462 /* Cinco Meses de Infinito */ {
        background-color: white;

        #page {
            header {
                background-color: white;
            }

            #content {
                overflow: hidden;

                #primary {
                    @media (max-width: 600px) {
                        padding-left: 25px;
                        padding-right: 25px;
                    }

                    #main {
                        .first-section {
                            .wp-block-group__inner-container {
                                text-align: center;
                                padding: 50px 0;
                            }

                            h1 {
                                color: #2d2825;
                                font-size: 42px;
                                font-family: "ZillaSlab";
                                line-height: 1.1;
                                text-transform: none;
                                letter-spacing: 1px;
                                position: relative;
                                display: inline-block;
                                max-width: 400px;
                                
                                @media (min-width: 600px) {
                                    line-height: 1.5;
                                    margin-bottom: 0;
                                    max-width: none;
                                }

                                &:before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: -200px;
                                    right: 0;
                                    background-image: url("img/flor.png");
                                    height: 700px;
                                    width: 500px;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    pointer-events: none;
                                    opacity: 0.3;

                                    @media (min-width: 600px) {
                                        opacity: 1;
                                        height: 500px;
                                        width: 400px;
                                        background-size: contain;
                                        top: -180px;
                                        right: 121px;
                                    }
                                }
                            }

                            h2 {
                                font-size: 25px;
                                font-family: "ZillaSlab";
                                font-style: normal;
                                color: #2d2825;
                            }

                            h4 {
                                font-family: "ZillaSlab";
                                color: #2d2825;
                                text-transform: none;
                                font-size: 18px;
                                letter-spacing: 1px;
                                line-height: 1;
                            }

                            p {
                                font-style: italic;

                                @media (min-width: 600px) {
                                    width: 50%;
                                    margin-left: 50%;
                                }
                            }

                            .foto-libro {
                                max-width: 200px;
                                box-shadow: 10px 5px 5px #6e4830;
                            }

                            >.wp-block-column:nth-child(2) {
                                @media (min-width: 782px) {
                                    flex-grow: 2;
                                }
                            }
                        }

                        section.section-with-background {
                            position: relative;

                            &:before {
                                background-color: #faf5e0;
                                position: absolute;
                                width: 100vw;
                                top: 0;
                                height: 100%;
                                left: calc((100% - 100vw) / 2);
                                content: " ";
                            }

                            >div.wp-block-group__inner-container {
                                position: relative;
                                flex-wrap: wrap;
                                display: flex;
                                padding: 40px 0;

                                @media (min-width: 600px) {
                                    padding: 60px 0;
                                }

                                .wp-block-image {
                                    margin: 5px;
                                    flex: 25%;

                                    @media (min-width: 600px) {
                                        flex: 20%;
                                    }
                                }
                            }

                            &.oriane-custom-gallery-container {
                                .oriane-gallery-image {
                                    cursor: pointer;
                                }

                                .oriane-custom-gallery-button {
                                    border: 0;
                                    border-radius: 5px;
                                    width: 40px;
                                    height: 35px;
                                    line-height: 35px;
                                    font-size: 20px;
                                    background-color: #ffffff;
                                    display: block;
                                    position: absolute;
                                    font-weight: 700;
                                    color: #000000;
                                    padding: 0;

                                    &#oriane-custom-gallery-close {
                                        top: 25px;
                                        right: 25px;
                                    }

                                    &#oriane-custom-gallery-prev,
                                    &#oriane-custom-gallery-next {
                                        top: 0;
                                        bottom: 0;
                                        margin: auto;
                                    }

                                    &#oriane-custom-gallery-prev {
                                        left: 25px;
                                    }

                                    &#oriane-custom-gallery-next {
                                        right: 25px;
                                    }

                                    .arrow {
                                        border: solid black;
                                        border-width: 0 3px 3px 0;
                                        display: inline-block;
                                        padding: 3px;
                                    }

                                    .right {
                                        transform: rotate(-45deg);
                                        -webkit-transform: rotate(-45deg);
                                        margin-left: -3px;
                                        margin-bottom: 2px;
                                    }

                                    .left {
                                        transform: rotate(135deg);
                                        -webkit-transform: rotate(135deg);
                                        margin-right: -3px;
                                        margin-bottom: 2px;
                                    }
                                }
                            }
                        }

                        section#carrito-producto {
                            padding: 50px 0 25px;

                            .woocommerce {
                                .woocommerce-notices-wrapper {
                                    display: none;
                                }

                                .woocommerce-cart-form {
                                    tr,
                                    td,
                                    table,
                                    thead,
                                    tbody {
                                        display: inline-block;
                                    }
                                    
                                    table {
                                        border: 0;
                                        margin: 0;


                                        th,
                                        td {
                                            border: 0;

                                            &:not(.product-quantity) {
                                                visibility: hidden;
                                                height: 0;
                                                width: 0;
                                                position: absolute;
                                            }

                                            &.product-quantity {
                                                float: left;
                                                width: 50%;
                                                display: block;

                                                &:before {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }

                                .cart-collaterals {
                                    .cart_totals {
                                        float: none;
                                        width: auto;

                                        h2,
                                        .cart-subtotal,
                                        .woocommerce-shipping-destination {
                                            display: none;
                                        }

                                        tr,
                                        td,
                                        table,
                                        thead,
                                        tbody,
                                        th {
                                            display: block;
                                        }

                                        table,
                                        th,
                                        td {
                                            border: 0;
                                            background-color: transparent;

                                            &:before {
                                                display: none;
                                            }
                                        }

                                        .order-total td,
                                        .order-total th {
                                            display: inline;
                                        }
                                    }
                                }

                            }
                        }

                        #special-separator {
                            position: relative;
                            height: 160px;

                            hr {
                                background-image: url("img/cinta.jpg");
                                position: absolute;
                                width: 100vw;
                                top: 0;
                                height: 100%;
                                left: calc((100% - 100vw) / 2);
                                border: 0;
                                background-size: cover;
                                background-color: transparent;

                                @media (min-width: 600px) {
                                    background-size: contain;
                                }
                            }
                        }

                        .wp-block-button.is-style-outline.button {
                            font-family: "ZillaSlab";
                            color: #2d2825;
                        }

                        .wp-block-button.is-style-outline.button:hover {
                            color: #e4dbc6;
                        }

                        .descripcion-libro {
                            font-family: "ZillaSlab";
                            color: #2d2825;
                        }

                        .titulo-descripcion-libro {
                            font-family: "ZillaSlab";
                            font-weight: 700;
                            color: #2d2825;
                        }

                        .wp-block-jetpack-slideshow
                            .wp-block-jetpack-slideshow_container
                            ul.wp-block-jetpack-slideshow_swiper-wrapper
                            #carrito-producto {
                            position: relative;
                            padding: 20px 0;

                            @media (min-width: 600px) {
                                padding: 40px 0;
                            }

                            div.woocommerce {
                                font-family: "ZillaSlab";
                                color: #2d2825;
                                background-color: #ffffff;
                                z-index: 2;
                                position: relative;
                                padding: 20px;
                                border-radius: 10px;
                                border: solid;
                                border-color: #2d2825;

                                @media (min-width: 600px) {
                                    padding: 40px;
                                }
                            }
                        }

                        /*a.button.alt {
                            background-color: transparent;
                            color: #2d2825;
                        }

                        a.button.alt:hover {
                            color: #e4dbc6;
                            background-color: transparent;
                        }*/
                    }
                }
            }
        }
    }

    &.page-id-2445 /* Finalizar Compra */ {
        #content {
            #primary {
                padding-left: 0;
                padding-right: 0;

                #customer_details {
                    .col-2 {
                        display: none;
                    }

                    .col-1 {
                        width: 100%;

                        .woocommerce-billing-fields__field-wrapper {
                            @media (min-width: 600px) {
                                display: flex;
                                flex-wrap: wrap;

                                .form-row {
                                    flex: 50%;

                                    input {
                                        border: 1px solid #ccc;
                                    }
                                }
                            }

                            #billing_country_field {
                                visibility: hidden;
                                position: absolute;
                            }
                        }
                    }
                }

                #order_review_heading {
                    padding: 0 15px;
                }
            }
        }
    }

    #oriane-custom-gallery-modal {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        background: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;

        &.active {
            display: flex;
        }

        #orianeGalleryModalImage {
            margin: 0;
            width: 80%;
            height: auto;
            object-fit: contain;
            padding: 5%;

            @media screen and (min-width: 768px) {
                width: 60%;
            }

            @media screen and (min-width: 1200px) {
                width: 50%;
            }
        }
    }
}

.oriane-custom-gallery-modal-active {
    overflow: hidden;
}
