
body.page-id-2462 {
    background-color: #cccccc;

   
    header, 
    .site,
    #masthead.site-header
    {
        background-color: #cccccc;
    }

    

    .first-section {

    h1 {
        color: #2d2825;
        font-size: 42px;
        font-family: 'ZillaSlab';
        margin-bottom: 0;
        text-transform: none;
    }
    
    
    
    h2 {
        
        font-size: 25px;
        font-family: 'ZillaSlab';
        font-style: normal;
        color: #2d2825;
    }
    
    .foto-libro {
        box-shadow: 10px 5px 5px #6e4830;
    }

    
    }
    .wp-block-button.is-style-outline.button {
    
        font-family: 'ZillaSlab';
        color: #2d2825;
     
       
    }

    .wp-block-button.is-style-outline.button:hover {
        color:#c96e36;
    }
    
    .descripcion-libro {
        font-family: 'ZillaSlab';
        color: #2d2825
    }

    .titulo-descripcion-libro {
        font-family: 'ZillaSlab';
        font-weight: 700;
        color: #2d2825
    }

    .carrito-pagina-libro {
        font-family: 'ZillaSlab';
        color: #2d2825;
        background-color: #ffffff;
        position: relative;
        z-index: 5;
       
     }

     #carrito-producto::before {
        background-image: url('img/oriane-tira-libro.jpeg');
        position: absolute;
        width: 100vw;
        top: 0;
        height: 100%;
        left: -367px;
        content: "  ";
        z-index: 1;
     }


    a.button.alt {
        background-color: transparent;
        color: #2d2825;
    }

    a.button.alt:hover {
        color:#c96e36;
        background-color: transparent;
    }
}

   



 